body{
        font-family: 'Ubuntu', sans-serif;  
        
}


h1{
        font-family: 'Montserrat', sans-serif;
        font-size: 3.5rem; 
        line-height: 1.5;
        color: #fff;
}

h3{
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold;
}
p{
       color: #8f8f8f; 
}
.container-fluid{
        padding: 2% 10%;
}

.navbar{
        padding:0 0 4.5rem;
}

.nav-item{
        padding: 0 18px;
        font-family: 'Ubuntu', sans-serif;  
        font-size: 1.2rem;
        font-weight:lighter;
}
.navbar-brand{
        font-family: 'Ubuntu', sans-serif;  
        font-size: 2.5rem;
        font-weight: bold;
}

.download-btn{
        margin: 5% 3% 5% 0;
}

.title-img{
        width: 60%;
        height: 95%;
        transform: rotate(20deg);
}

.icons{
        text-align: center;
        padding: 5%;
}

#features{
        margin: 5% 15%;
}

.midcon{
        color: #ef8172;
        margin-bottom: 1rem;
}

.midcon:hover{
        color: #ff4c68;
}